.line {
    color: #ECF0F1;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
}

.intro {
    animation: intro 1s steps(40) 0.5s 1 normal both, movingCursor 1s steps(44) infinite normal;
}

.about {
    animation: aboutMe 0.8s steps(40) 0.5s 1 normal both, movingCursor 1s steps(44) infinite normal;
}

.skills {
    animation: skills 1s steps(40) 0.5s 1 normal both, movingCursor 1s steps(44) infinite normal;
}

.skills2 {
    animation: skills2 1s steps(40) 0.5s 1 normal both, movingCursor 1s steps(44) infinite normal;
}

.work {
    animation: work 1s steps(40) 0.5s 1 normal both, movingCursor 1s steps(44) infinite normal;
}

.contact {
    animation: contact 1s steps(40) 0.5s 1 normal both, movingCursor 1s steps(44) infinite normal;
}

.waiting {
    animation: waitingCursor 1s steps(44) infinite normal;
}

@keyframes intro {
  from { 
      width: 0;
  }
  to { 
      width: 20em; 
  }
}

@keyframes aboutMe {
    from {
        width: 0;
    }
    to {
        width: 6.7em;
    }
}

@keyframes skills {
    from {
        width: 0;
    }
    to {
        width: 11em;
    }
}

@keyframes skills2 {
    from {
        width: 0em;
    }
    to {
        width: 8.3em;
    }
}

@keyframes work {
    from {
        width: 0em;
    }
    to {
        width: 8.5em;
    }
}

@keyframes contact {
    from {
        width: 0em;
    }
    to {
        width: 7em;
    }
}

@keyframes movingCursor {
  from {border-right-color: #ECF0F1;}
  to {border-right-color: transparent;}
}

@keyframes waitingCursor {
    from {border-left-color: #ECF0F1;}
    to {border-left-color: transparent;}
}
