@media screen and (min-width:375px) and (max-width:400px) {
    body {
        padding: 0;
        margin: 0;
    }

    .home {
        width: 100%;
        height: 100vh;
        background: #FFFFFF;
    }
    
    .menuItem {
        position: absolute;
        font-family: "Josefin Slab";
	    font-size: 30px;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 500;
	    line-height: 26px;
        color: #36D7B7;
    }

    .about {
        border: none;
        background: transparent;
        top: 37%;
        left: 38%;
    }
    .personalWork {
        border: none;
        background: transparent;
        top: 47%;
        left: 25%;
    }
    .contact {
        border: none;
        background: transparent;
        top: 57%;
        left: 36%;
    }

    .aboutMe {
        width: 100%;
        height: 100vh;
        background: #FFFFFF;
    }

    .header {
        position: absolute;
        font-family: "Josefin Slab";
	    font-size: 24px;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 500;
	    line-height: 26px;
        color: #4b4b4b;
        top: 103%;
        left: 8%;
    }

    .bio {
        position: absolute;
        font-family: sans-serif;
        font-size: 15px;
        color: #4b4b4b;
        top: 113%;
        left: 3%;
    }

    .work {
        width: 100%;
        height: 100vh;
        background: #FFFFFF;
    }

    .social {
        width: 100%;
        height: 100vh;
        background: #FFFFFF;
    }

    .codepen {
        position: absolute;
        top: 328%;
        left: 17.5%;
        height: 70px;
        width: 70px;
        border: solid #4b4b4b;
        border-radius: 100px;
        background: transparent;
    }
    
    .github {
        position: absolute;
        top: 328%;
        left: 59.5%;
        height: 70px;
        width: 70px;
        border: solid #4b4b4b;
        border-radius: 100px;
        background: transparent;
    }
    
    .twitter {
        position: absolute;
        top: 358%;
        left: 17.5%;
        height: 70px;
        width: 70px;
        border: solid #4b4b4b;
        border-radius: 100px;
        background: transparent;
    }
    
    .instagram {
        position: absolute;
        top: 358%;
        left: 59.5%;
        height: 70px;
        width: 70px;
        border: solid #4b4b4b;
        border-radius: 100px;
        background: transparent;
    }

    .pen {
        position: absolute;
        left: 21.2%;
        top: 20.5%;
    }
    
    .git {
        position: absolute;
        left: 20.5%;
        top: 16%;
    }
    
    .twi {
        position: absolute;
        left: 23%;
        top: 23%;
    }
    
    .ins {
        position: absolute;
        left: 24%;
        top: 20.3%;
    }

    .emp {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 3.5s ease-in-out 0s normal forwards;
    }

    @keyframes dash {
        100% {
            stroke-dashoffset: 0;
            fill: #4b4b4b;
        }
    }
}

