@media screen and (min-width:375px) and (max-width:400px) {
    body {
        -webkit-padding: 0;
        -webkit-margin: 0;
    }
    
/*
        font-family: "Josefin Slab";
	    font-size: 28px;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 500;
	    line-height: 26px;
        color: #36D7B7;
   */
    

    .work {
        -webkit-width: 100%;
        -webkit-height: 150vh;
        -webkit-background: #FFFFFF;
    }

    .social {
        -webkit-width: 100%;
        -webkit-height: 100vh;
        -webkit-background: #FFFFFF;
    }

    .codepen {
        -webkit-position: absolute;
        -webkit-top: 185%;
        -webkit-left: 17.5%;
        -webkit-height: 70px;
        -webkit-width: 70px;
        -webkit-border: solid #4b4b4b;
        -webkit-border-radius: 100px;
        -webkit-background: transparent;
    }
    
    .github {
        -webkit-position: absolute;
        -webkit-top: 185%;
        -webkit-left: 59.5%;
        -webkit-height: 70px;
        -webkit-width: 70px;
        -webkit-border: solid #4b4b4b;
        -webkit-border-radius: 100px;
        -webkit-background: transparent;
    }
    
    .twitter {
        -webkit-position: absolute;
        -webkit-top: 215%;
        -webkit-left: 17.5%;
        -webkit-height: 70px;
        -webkit-width: 70px;
        -webkit-border: solid #4b4b4b;
        -webkit-border-radius: 100px;
        -webkit-background: transparent;
    }
    
    .instagram {
        -webkit-position: absolute;
        -webkit-top: 215%;
        -webkit-left: 59.5%;
        -webkit-height: 70px;
        -webkit-width: 70px;
        -webkit-border: solid #4b4b4b;
        -webkit-border-radius: 100px;
        -webkit-background: transparent;
    }

    .pen {
        -webkit-position: absolute;
        -webkit-left: 21.2%;
        -webkit-top: 20.5%;
    }
    
    .git {
        -webkit-position: absolute;
        -webkit-left: 20.5%;
        -webkit-top: 16%;
    }
    
    .twi {
        -webkit-position: absolute;
        -webkit-left: 23%;
        -webkit-top: 23%;
    }
    
    .ins {
        -webkit-position: absolute;
        -webkit-left: 24%;
        -webkit-top: 20.3%;
    }

    .emp {
        -webkit-stroke-dasharray: 1000;
        -webkit-stroke-dashoffset: 1000;
        -webkit-animation: dash 3.5s ease-in-out 0s normal forwards;
    }

    -webkit-@keyframes dash {
        100% {
            -webkit-stroke-dashoffset: 0;
            -webkit-fill: #4b4b4b;
        }
    }
}
