@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    #container {
       width: 100%;
    }
            
    #photo {
        width: 100%;
    }
            
    #pic {
         margin: auto;
         position: absolute;
         top: 30px; right: 0px; left:0px; bottom: 0px;
     }
            
     #one {
          width: 100%;
     }
            
     #two {
          width: 100%;
     }
            
     #three {
          width: 100%;
     }
            
     #four {
          width: 100%;
     }
}
