@media handheld, screen 
and (min-width : 175px) 
and (max-width : 875px) {
    #container {
       width: 100%;
    }
            
    #photo {
        width: 100%;
    }
                   
     #one {
          width: 100%;
     }
            
     #two {
          width: 100%;
     }
            
     #three {
          width: 100%;
     }
            
     #four {
          width: 100%;
     }
}
