body {
    background: #EEEEEE;
}
            
#container {
    margin: 0px auto;
    width: 100%;
}
            
#top {
    width: 100%;
    height: 125px;
    padding-top: 2px;
    background: #1abc9c;
    
    color: #2c3e50;
    
    font-family: "Josefin Slab";
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 24px;
    text-shadow: 12px 12px 6px rgba(0,0,0,0.2);
}
            
#menu {
    width: 100%;
    height: 450px;
    padding-top: 0.2px;
    background: #EEEEEE;
}

#title {
    font-size: 28px;
}

.menuContainer {
   margin: 0px auto;
   width: 100%;
    
   display: grid;
   grid-template-columns: 50% 50%;
    
   text-decoration: underline;
   text-decoration-color: #34495e; 
}

.item {
  color: #2c3e50;
  padding: 1em;
  height: 130px;
  font-size: 2.2em;
    
    font-family: "Josefin Slab";
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 24px;
    
    text-shadow: 4px 4px 2px rgba(0,0,0,0.1);
}

.m {
    padding-top: 10px;
}
