body {
  padding: 0;
  margin: 0;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.textNode {
  font-family: "Amatic SC";
  font-size: 2em;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-device-width: 2200px) and (max-device-width: 2600px) {
    #group {
      transform: translate(270px, 70px) scale(2);
    }
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    #group {
      transform: translate(200px, 70px);
    }
}

@media only screen and (min-device-width: 500px) and (max-device-width: 1025px) {
    #group {
      transform: translate(-385px, 150px) scale(1.8);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #group {
      transform: translate(-605px, 220px) scale(2.2);
    }
}
